
{% block stylesheets %}
<link href="{{ asset('bundles/photom/css/font-awesome.css')}}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block Body %}
{% if publicacion is defined %}
<div class="container-cardsuser">
        <div class="card">
            <p class="hidden idPub" >{{ publicacion.idContenido}}</p>
            <div>
              <img class="user-image-publication" >
              <span class="user-name">{{ publicacion.username_canonical }}:</span>
            </div>
            <div class="descritpion-user-publication"><p class="description-video">{{ publicacion.descripcionContenido}} </p>
            </div>

            <img src="data:image/jpeg;base64,{{publicacion.imagenContenido}}" alt="Avatar" id="user-public-image">
            <div class="container">
            <div class="container-interact-button">
              <button class="dislike-button" id="dislike-button" type="button"><i class="fa fa-thumbs-down" aria-hidden="true"></i>
              </button>
              <button id="comment-button"><i class="fa fa-comments" aria-hidden="true"></i>
              </button>
              <button  class="like-button" id="like-button" type="button"><i class="fa fa-heart" aria-hidden="true"></i>
              </button>
            </div>
            <div class="container-comment">
                <input type="text" placeholder="¿Quieres decir algo sobre este post?..." id="comment-input">
            </div>
            <div class="comentarios">
                <ul class="list-group-comments">
                     <li href="#" class="list-group-item text-left">
                       <img class="img-thumbnail" src="http://bootdey.com/img/Content/User_for_snippets.png">
                       <div class="post-user">
                       <label class="name">
                           Juan guillermo cuadrado:
                       </label>
                       <label class="comment">
                       fvsgesrgesrf #yolo esto es una prueba #life #is #good
                       </label>
                       </div>
                    </li>

                    {% for comments in publicacion|last %}
                        <li href="#" class="list-group-item text-left">
                          <img class="img-thumbnail" src="data:image/jpeg;base64,{{comments.FotoComentarista}}">
                          <div class="post-user">
                          <label class="name">
                            <a href="/perfil/{{ comments.UsuarioCanonicoComentarista}}"> {{ comments.UsuarioComentarista}} </a>
                          </label>
                          <label class="comment">
                            {{ comments.comentarioNotificacion }}
                          </label>
                          </div>
                       </li>
                    {% endfor %}
                </ul>
            </div>
                </div>
            </div>
  </div>
{% endif %}
{% endblock %}
