{% block head %}
<title></title>
  <link rel="stylesheet" href="{{asset('bundles/photom/css/HomeAdmin.css')}}" type="text/css">
{% endblock %}

{% block Body %}
<section class="header-admin">
    <div class="Logo">LOGO</div>
    <div class="welcome-admin">Bienvenido Usuario</div>
</section>
<section class="block-admin">
    <section class="panel-admin">
        <table>
            <tr>
                <th>Visto</th>
                <th>Descripcion</th>
                <th>Tiempo bloqueo</th>
                <th>Bloquear</th>
            </tr>
            {% for reporte in reportes %}
              <tr>
                  <td><button><img src="{{asset('bundles/photom/images/lineaA.png')}}"></button></td>
                  <td> {{reporte.nombreUsuario}} ha sido reportado por <a href="/detail/content/{{ reporte.idContenidoReportado }}">{{ reporte.nombreRazon }}</a></td>
                  <form class="blockUser" action="/admin/set/block" method="post">
                    <td><input type="datetime" placeholder="04/08/2016" name="date" id="date"></td>
                    <td><button type="submit" id="block-user"><img src="{{asset('bundles/photom/images/bloquear.png')}}"></button></td>
                  </form>
              </tr>
            {% endfor %}
        </table>
    </section>
</section>
{% endblock %}
