{% extends 'PhotomBundle::MenuSuperior.html.twig' %}
{% block head %}
  <title>Photon</title>
{% endblock %}
{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('bundles/photom/css/Home.css')}}" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="{{ asset('bundles/photom/css/font-awesome.min.css')}}" media="screen" title="no title" charset="utf-8">
{% endblock %}
{% block javascripts %}
{{ parent() }}
  <script type="text/javascript" src="{{ asset("bundles/photom/js/dist/main.bundle.js") }}"> </script>
{% endblock %}
{% block Body %}
{{ parent() }}
<section class="container-profile-publication">
       <sidebar class="container-sidebar">
    <div class="container-infoUser">
        </div>
    </div>
    <div class="container-friend">
        <div>
            <t>Amigos
            </t>
        </div>
          <img class="img-thumbnail"  src="http://bootdey.com/img/Content/user_1.jpg">
         <img class="img-thumbnail"  src="http://bootdey.com/img/Content/user_1.jpg">
       <img class="img-thumbnail"  src="http://bootdey.com/img/Content/user_1.jpg">
        <img class="img-thumbnail"  src="http://bootdey.com/img/Content/user_1.jpg">
        <img class="img-thumbnail"  src="http://bootdey.com/img/Content/user_1.jpg">
       <img class="img-thumbnail"  src="http://bootdey.com/img/Content/user_1.jpg">
    </div>
    </sidebar>
    <sidebar class="container-adbar">
    </sidebar>
<section class="container-publicationprofile">
      <div class="container-public-user">
        <div class="phrase-publication">
          <span id="user-name">Usuario
          </span>
          <tr>
            <span id="user-phrase">dile al mundo lo que sientes...
            </span>
        </div>
        <div class="container-publication">
          <form method="POST" action="/content/new/upload" name="user-publication-user" id="user-post" enctype="multipart/form-data">
            <div class="imagePreviewContainer">
              <img src="" class="imagePreview" alt="" />
            </div>
            <input type="text" placeholder="Comparte tu dia...." id="text-public" name="pieDeFoto"/>
            <input type="file" name="foto" class="photoSubmit hidden"/>
            <input type="file" name="video" class="videoSubmit hidden"/>
            <div class="public-photo-video">
              <div class="container-publica">
                <input type="submit" value="Publicar" id="public-button" />
              </div>
              <div class="container-camera">
                <button type="button" id="camera-button">
                  <i class="fa fa-camera" aria-hidden="true"></i>
                </button>
              </div>
              <div class="container-video">
                <button type="button" id="video-button">
                  <i class="fa fa-video-camera" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </form>
        </div>

      </div>
      <div id="phrase-content">TU MUNDO ACTUALIZADO</div>
    {# no variables will be accessible #}
    {% for publicaciones in inicio %}
      {% include 'PhotomBundle::CardPosts.html.twig' with {'publicacion': publicaciones} %}
    {% endfor %}
        </section>
</section>
{% endblock %}
