{% if notifications is not defined %}
  {% set notifications = "" %}
{% endif %}

{% block stylesheets %}
<link href="{{ asset('bundles/photom/css/MenuSuperior.css')}}" rel="stylesheet" type="text/css"/>
<link href="{{ asset('bundles/photom/css/font-awesome.css')}}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block javascripts %}
  <script type="text/javascript" src="{{ asset('bundles/photom/js/jquery-3.1.1.min.js')}}"></script>
{% endblock %}
{% block Body %}
<nav>
              <ul>
                  <li class="container-logo">
                      <a href="/"><span style="margin:26%;">PHOTON</span></a>
                  </li>
                  <li id="container-form">
                      <div class="container-search">
                        <form method="GET" action="/search" style="margin-bottom:0px;height:100%">
                          <input type="text" id="style-search" name="busqueda" placeholder="Buscar">
                        </form>
                    </div>
                    <ul id="resultsContainer"></ul>
                  </li>
                  <li id="style-friendship">
                    <div style="width:100%;height:100%;padding-left: 20%;padding-top: 10%;">
                      <a href="#"><i class="fa fa-users" aria-hidden="true"></i>
                      </a></div>
                  </li>
                  <li id="style-notification">
                  <div style="width:100%;height:100%;padding-left: 20%;padding-top: 10%;">
                    <a href="#" id="notificationLink">
                        <img src="{{ asset('bundles/photom/images/photon.png')}}">
                      </a>
                      <span id="notification_count">3</span>
                      <div id="notificationContainer">
                          <div id="notificationTitle">Notifications</div>
                          <div id="notificationsBody" class="notifications">
                              <ul class="friend-list-solicitud">
                                  <li>
                                    {% for notification in notifications %}
                                    <a href="/detail/content/{{notification.idNotificacion}}/{{notification.idContenidoNotificacion}}">
                                      {% if notification.leidaNotificacion == 1%}
                                      <div class="notificacion notificacionLeida">
                                        {% else %}
                                      <div class="notificacion">
                                        {% endif %}
                                        <span>{{ notification.nombreUsuario}}</span>
                                        {% if notification.gustaNotificacion == "" %}
                                          <span> comentu tu contenido </span>
                                        {% else %}
                                          <span> le gusto tu contenido</span>

                                        {% endif %}
                                      </div>
                                      </a>
                                    {% endfor %}
                                  </li>
                              </ul>
                          </div>
                          <div id="notificationFooter"><a href="#">Ver Mas</a></div>
                      </div>
                    </div>
                  </li>
                  <li id="style-profile">
                      <div style="width:100%;height:100%;padding-left: 20%;padding-top: 10%;">
                        <a href="/perfil">
                      <img src="{{ asset('bundles/photom/images/thumbnail.png')}}" id="profile-picture">
                    </a></div>
                  </li>
                  <li id="style-logout">
                    <div style="width:100%;height:100%;padding-left: 20%;padding-top: 15%;">
                    <a href="{{ path('fos_user_security_logout')  }}"><i class = "fa fa-sign-out" aria-hidden="true"></i></a>
                  </div>
                  </li>
              </ul>
          </nav>
{% endblock %}
