{% block stylesheets %}
<link href="{{ asset('bundles/photom/css/MenuSuperior.css')}}" rel="stylesheet" type="text/css"/>
<link href="{{ asset('bundles/photom/css/font-awesome.css')}}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block javascripts %}
  <script type="text/javascript" src="{{ asset('bundles/photom/js/jquery-3.1.1.min.js')}}"></script>
{% endblock %}
{% block Body %}
<nav>
              <ul>
                  <li class="container-logo">
                      <a href="/">LOGO</a>
                  </li>
                  <li id="container-form">
                    <div>
                      <div class="container-search">
                        <input type="text" id="style-search" name="busqueda" placeholder="Buscar">
                      </div>
                    </div>
                    <ul id="resultsContainer"></ul>
                  </li>
                  <li id="style-friendship">
                      <a href="#"><i class = "fa fa-users" aria-hidden="true"></i>
                      </a>
                  </li>
                  <li id="style-notification">
                      <a href="#" id="notificationLink">
                          <img src="{{ asset('bundles/photom/images/photon.png')}}">
                      </a>
                      <span id="notification_count">3</span>
                      <div id="notificationContainer">
                          <div id="notificationTitle">Notifications</div>
                          <div id="notificationsBody" class="notifications">
                              <ul class="friend-list-solicitud">
                                  <li>
                                  </li>
                              </ul>
                          </div>
                          <div id="notificationFooter"><a href="#">Ver Mas</a></div>
                      </div>
                  </li>
                  <li id="style-profile">
                      <a href="/perfil">
                      <img src="{{ asset('bundles/photom/images/thumbnail.png')}}" id="profile-   picture">
                      </a>
                  </li>
                  <li id="style-user">
                      <label>
                          Usuario
                      </label>
                  </li>
                  <li>
                    <a href="{{ path('fos_user_security_logout') }}"> Cerrar sesion</a>
                  </li>
              </ul>
          </nav>
{% endblock %}
