{% extends 'PhotomBundle::MenuSuperior.html.twig' %}
{% if usuario.fechaNacimiento is not defined %}
  {% set fechaNacimiento = '' %}
{% else %}
  {% set fechaNacimiento = usuario.fechaNacimiento %}
{% endif %}
{% if usuario.domicilioUsuario is not defined %}
  {% set domicilio = '' %}
{% else %}
  {% set domicilio = usuario.domicilioUsuario %}
{% endif %}
{% if usuario.bannerUsuario is not defined %}
  {% set banner = asset('bundles/photom/images/login-background.jpg') %}
{% else %}
  {% set banner = usuario.bannerUsuaerio %}
{% endif %}
{% if usuario.perfilUsuario == '' %}
  {% set perfil = asset('bundles/photom/images/female.png') %}
{% else %}
  {% set perfil = usuario.perfilUsuario %}
{% endif %}

{% block head %}
  <title>Photon</title>
{% endblock %}
{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('bundles/photom/css/Profile.css')}}" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="{{ asset('bundles/photom/css/font-awesome.min.css')}}" media="screen" title="no title" charset="utf-8">
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('bundles/photom/js/dist/profile.bundle.js')}}"></script>
</script>
{% endblock %}
{% block Body %}
{{ parent() }}
<section class = "user-controls">
           <div class="banner-user">
                <img src="{{ banner }}" id="banner">
           </div>
           <div class="container-user-image">
              <button type="button" name="button" id="editProfileP">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </button>
              <input type="file" name="profilePicture" id="inputProfilePicture" class="hidden" value="">
              <img src="{{ perfil }}" id="user-profile-pic"></img><t id="username-profile">{{ usuario.username }}</t>
           </div>
       <div class="user-tabs">
           <ul class="tab">
               <li><a href="#" class="tablinks" data="profile" >Perfil</a></li>
               <li><a href="#" class="tablinks" data="friend" >Amigos</a></li>
               <li><a href="#" class="tablinks" data="notification">Notificaciones</a></li>
           </ul>
       </div>
       <div class="follow">
         <i class="fa fa-plus-circle"></i>
         Follow
       </div>
   </section>
       <section class="container-profile-publication">
           <sidebar class="container-sidebar">
               <div class="container-infoUser">
                   <div>
               <t>Datos
               </t><button id="edit-info"><i class="fa fa-pencil" aria-hidden="true"></i>
               </button>
                </div>
                   <div>
                       <div id="info-title"><t>Titulo: </t><t class="user-info" >Mrs.</t>
                       </div>
                       <div id="info-name"><t>Nombre: </t><t class="user-info" >{{ usuario.nombreUsuario}}</t>
                       </div>
                       <div id="info-birtDate"><t>Fecha Nacimiento: </t><t class="user-info" >{{ fechaNacimiento }}</t>
                       </div>
                       <div id="info-country"><t>Pais: </t><t class="user-info" >México</t>
                       </div>
                       <div id="info-city"><t>Ciudad: </t><t class="user-info" >Monterrey</t>
                       </div>
                   <div id="info-work"><t>Empresa: </t><t class="user-info" >Milenio</t></div>
                   <div id="info-email"><t>Email: </t><t class="user-info" >{{ usuario.email }}</t>
                   </div>
                   <div id="info-about"><t>Sobre ti: </t><t class="user-info" >Me gustan los libros y dross</t></div>
                   <div><t>Genero: </t>
                     {% if usuario.generoUsuario == 0 %}
                     <i class="fa fa-mars" aria-hidden="true"></i>
                     {% else %}
                     <i class="fa fa-venus" aria-hidden="true"></i>
                     {% endif %}
                   </div>
               </div>
           </div>
       </div>
       <div class="container-friend">
           <div>
               <t>Amigos
               </t>
           </div>
             <img class="img-thumbnail"  src="http://bootdey.com/img/Content/user_1.jpg">
            <img class="img-thumbnail"  src="http://bootdey.com/img/Content/user_1.jpg">
          <img class="img-thumbnail"  src="http://bootdey.com/img/Content/user_1.jpg">
           <img class="img-thumbnail"  src="http://bootdey.com/img/Content/user_1.jpg">
           <img class="img-thumbnail"  src="http://bootdey.com/img/Content/user_1.jpg">
          <img class="img-thumbnail"  src="http://bootdey.com/img/Content/user_1.jpg">
       </div>
       </sidebar>
       <sidebar class="container-adbar">
       </sidebar>
       <section id="profile" class="container-publicationprofile">
           <div class="container-public-user">
             <form method="POST" action="/content/new/upload" name="user-publication-user" id="user-post" enctype="multipart/form-data">
               <div class="imagePreviewContainer">
                 <img src="" class="imagePreview" alt="" />
               </div>
               <input type="text" placeholder="Comparte tu dia...." id="text-public" name="pieDeFoto"/>
               <input type="file" name="foto" class="photoSubmit hidden"/>
               <input type="file" name="video" class="videoSubmit hidden"/>
               <div class="public-photo-video">
                 <div class="container-publica">
                   <input type="submit" value="Publicar" id="public-button" />
                 </div>
                 <div class="container-camera">
                   <button type="button" id="camera-button">
                     <i class="fa fa-camera" aria-hidden="true"></i>
                   </button>
                 </div>
                 <div class="container-video">
                   <button type="button" id="video-button">
                     <i class="fa fa-video-camera" aria-hidden="true"></i>
                   </button>
                 </div>
               </div>
             </form>
           </div>
          {# no variables will be accessible #}
          {% include 'PhotomBundle::CardPosts.html.twig' only %}
           </section>
           <section id="notification" class="container-notificationsuser">
               <table class="list-friend">
                   <tr>
                     <th>
                       <input type="checkbox">
                     </th>
                      <th colspan="2">
                       Notificaciones
                      </th>
                   </tr>
                   <tr>
                       <td><button><img src="{{ asset('bundles/photom/images/lineaA.png')}}"></button></td>
                       <td>Tu publicacion ha sido comentada por <t class="usuario-notificacion">Usuario</t></td>
                   </tr>
               </table>
               <div> <button class="see-all">Todos leidos</button></div>
           </section>
   <section id="friend" class="container-friendsuser">
         <ul class="list-group">
     <li href="#" class="list-group-item title">
      Tus Photon Amigos
     </li>
     <li href="#" class="list-group-item text-left">
       <img class="img-thumbnail" src="http://bootdey.com/img/Content/User_for_snippets.png">
       <label class="name">
           Juan guillermo cuadrado<br>
       </label>
     </li>
     <li href="#" class="list-group-item text-left">
         <img class="img-thumbnail"  src="http://bootdey.com/img/Content/user_1.jpg">
       <label class="name">
         James Rodriguez
       </label>
     </li>
     <li href="#" class="list-group-item text-left">
         <img class="img-thumbnail"  src="http://bootdey.com/img/Content/user_2.jpg">
         <label class="name">
           Mariana pajon
         </label>
     </li>
   </ul>
   </section>
   </section>

   {% endblock %}
