{% extends 'PhotomBundle::MenuSuperior.html.twig' %}
{% block head %}
  <title>Photon</title>
{% endblock %}
{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('bundles/photom/css/Home.css')}}" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="{{ asset('bundles/photom/css/CardUser.css')}}" media="screen" title="no title" charset="utf-8">
      <link rel="stylesheet" href="{{ asset('bundles/photom/css/Search.css')}}" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="{{ asset('bundles/photom/css/font-awesome.min.css')}}" media="screen" title="no title" charset="utf-8">
{% endblock %}
{% block javascripts %}
{{ parent() }}
  <script type="text/javascript" src="{{ asset("bundles/photom/js/dist/main.bundle.js") }}"> </script>
{% endblock %}
{% block Body %}
{{ parent() }}
<section id="searchResultsContainer">
  <div class="">
    Estos fueron los resultados de tu busqueda
  </div>
  <section id="usersResults">
    {% for user in usuarios %}
      <div class="userResult">
        <div class="imageContainer">
          <img class="userImage" src="data:image/jpeg;base64,{{user.perfilUsuario}}" alt="" />
        </div>
        <div class="dataContainer">
          <ul class="userData">
            <li class="usernameCanonical" data="{{ user.username_canonical }}"><a href="/perfil/{{ user.username_canonical}}"> {{ user.nombreUsuario }} </a></li>
            <li> {{ user.descripcionUsuario }} </li>
            <li> {{ user.email }} </li>
            <li> {{ user.Likes }} </li>
            <li> {{ user.Videos }}</li>
            <li> {{ user.Images }}</li>
            {% if user.FriendZone == 1  %}
              <li class="followSearchUser followedUser"> <i class="fa fa-check-circle" aria-hidden="true"></i><span>Siguiendo</span> </li>
            {% elseif user.FriendZone == 0 %}
              <li class="followSearchUser followUser"> <i class="fa fa-plus-circle" aria-hidden="true"></i><span>Seguir</span> </li>
            {% else %}
              <li class="followSearch"> <span> Solicitud Pendiente </span> </li>
            {% endif %}
          </ul>
        </div>
      </div>
    {% endfor %}
  </section>
  <section id="postsResults">
    {% for publicaciones in posts %}
      {% include 'PhotomBundle::CardPosts.html.twig' with {'publicacion': publicaciones} %}
    {% endfor %}
  </section>
</section>
{% endblock %}
