
{% block head %}
<title>Pagina de prueba de photon</title>
{% endblock %}
{% block stylesheets %}
  <link href="{{ asset('bundles/photom/css/Registrar.css')}}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block fos_user_content %}
<body class="background">
<section class="background-overlay">
</section>
<section class="box-login">
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
  <div class="style-profiled"> <img src="{{ asset('/bundles/photom/images/female.png')}}" class="style-profile"/></div>
 <div class="conteiner-text">
      {{ form_errors(form.nombreusuario) }}
      {{ form_widget(form.nombreusuario) }}
  </div>

  <div  class="conteiner-text">
      {{ form_errors(form.username) }}
      {{ form_widget(form.username) }}
  </div>

  <div  class="conteiner-text">
    {{ form_errors(form.email) }}
    {{ form_widget(form.email) }}
  </div>

  <div  class="conteiner-text">
    {{ form_widget(form.plainPassword) }}
  </div>

  <div  class="conteiner-text" style="position:absolute; bottom: 15%; text-align:center;">
    {{ form_widget(form.generoUsuario) }}
  </div>


  <div class="style-submit-container">
      <input type="submit" label="Entrar" class="style-submit" value="Photon" />
  </div>
{{ form_end(form) }}
</section>
</body>
{% endblock fos_user_content %}
